<p id="notice"><%= notice %></p>

<p>
  <strong>Datename:</strong>
  <%= @between.datename %>
</p>

<p>
  <strong>Datetag:</strong>
  <%= @between.datetag %>
</p>

<%= link_to 'Edit', edit_between_path(@between) %> |
<%= link_to 'Back', betweens_path %>
