<p id="notice"><%= notice %></p>

<p>
  <strong>Tagname:</strong>
  <%= @xbrltag.tagname %>
</p>

<p>
  <strong>Tagmean:</strong>
  <%= @xbrltag.tagmean %>
</p>

<%= link_to 'Edit', edit_xbrltag_path(@xbrltag) %> |
<%= link_to 'Back', xbrltags_path %>
